/* example */

#container,
#notes {
	font-family: Tienne, Sans-Serif;
}

#container {
	border: 1px solid #CCCCCC;
	margin: 200px auto 0px auto;
	padding: 10px;
	position: relative;
	text-align: justify;
	width: 680px;
}

#container strong {
	color: #FF6600;
	cursor: pointer;
}

#notes {
	color: #787878;
	font-size: 12px;
	margin-top: 25px;
	text-align: center;
	width: 100%;
}

#notes strong {
	color: #FF6600;
}


/* customize */

div.tulip_tips {
	height: 115px;
	width: 150px;
}

div.tulip_tips.image {
	/* background-image: url( /path/to/bubble.png ); */
}

div.tulip_tips.shadow {
	/* background-image: url( /path/to/shadow.png ); */
}

span.tulip_tips.content {
	color: #000000;
	font-size: 14px;
	font-weight: normal;
	left: 25px;
	overflow: hidden;
	padding: 1px;
	text-align: center;
	top: 30px;
	width: 100px;
}
